openapi: 3.2.0
info:
  title: Google Kubernetes Engine Clusters API
  version: '1.0'
  description: 'Operations tagged Clusters across 2 of this provider''s published API definitions: google-cloud-kubernetes-engine-clusters-api-openapi.yml, google-kubernetes-engine-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://container.googleapis.com/v1
  description: Google Kubernetes Engine API v1
- url: https://container.googleapis.com
security:
- oauth2:
  - https://www.googleapis.com/auth/cloud-platform
tags:
- name: Clusters
  description: Manage GKE clusters
paths:
  /projects/{projectId}/locations/{location}/clusters:
    get:
      operationId: listClusters
      summary: Google Cloud Kubernetes Engine List Clusters
      description: Lists all clusters owned by a project in the specified location.
      tags:
      - Clusters
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  clusters:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cluster'
    post:
      operationId: createCluster
      summary: Google Cloud Kubernetes Engine Create Cluster
      description: Creates a cluster in the specified project and location.
      tags:
      - Clusters
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cluster:
                  $ref: '#/components/schemas/Cluster'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
    servers:
    - url: https://container.googleapis.com/v1
      description: Google Kubernetes Engine API v1
  /projects/{projectId}/locations/{location}/clusters/{clusterId}:
    get:
      operationId: getCluster
      summary: Google Cloud Kubernetes Engine Get Cluster
      description: Gets the details of a specific cluster.
      tags:
      - Clusters
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: clusterId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cluster'
    delete:
      operationId: deleteCluster
      summary: Google Cloud Kubernetes Engine Delete Cluster
      description: Deletes the cluster and all associated resources.
      tags:
      - Clusters
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: clusterId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
    servers:
    - url: https://container.googleapis.com/v1
      description: Google Kubernetes Engine API v1
  /v1/{parent}/clusters:
    get:
      summary: List clusters
      operationId: getV1ByParentClusters
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Clusters response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Clusters
      x-operation-id-source: normalized
      x-operation-id-original: listClusters
    post:
      summary: Create a cluster
      operationId: postV1ByParentClusters
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Clusters
      x-operation-id-source: normalized
      x-operation-id-original: createCluster
    servers:
    - url: https://container.googleapis.com
components:
  schemas:
    Operation:
      type: object
      properties:
        name:
          type: string
        operationType:
          type: string
        status:
          type: string
        selfLink:
          type: string
        targetLink:
          type: string
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
    Cluster:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        initialNodeCount:
          type: integer
        location:
          type: string
        nodeConfig:
          type: object
          properties:
            machineType:
              type: string
            diskSizeGb:
              type: integer
            oauthScopes:
              type: array
              items:
                type: string
            imageType:
              type: string
        masterAuth:
          type: object
          properties:
            clusterCaCertificate:
              type: string
        network:
          type: string
        subnetwork:
          type: string
        clusterIpv4Cidr:
          type: string
        status:
          type: string
          enum:
          - STATUS_UNSPECIFIED
          - PROVISIONING
          - RUNNING
          - RECONCILING
          - STOPPING
          - ERROR
          - DEGRADED
        endpoint:
          type: string
        currentMasterVersion:
          type: string
        currentNodeVersion:
          type: string
        createTime:
          type: string
          format: date-time
        selfLink:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
x-refined-from:
- google-cloud-kubernetes-engine-clusters-api-openapi.yml
- google-kubernetes-engine-openapi.yml
