openapi: 3.1.0
info:
  title: Google Kubernetes Engine Clusters Google Kubernetes Engine API API
  description: REST API for Google Kubernetes Engine (GKE), a managed Kubernetes service on Google Cloud. Manages clusters, node pools, and operations.
  version: v1
servers:
- url: https://container.googleapis.com
security:
- oauth2:
  - https://www.googleapis.com/auth/cloud-platform
tags:
- name: Google Kubernetes Engine API
paths:
  /v1/{name}:
    get:
      summary: Get a cluster, node pool, or operation by name
      operationId: getResource
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resource response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Kubernetes Engine API
    delete:
      summary: Delete a cluster or node pool
      operationId: deleteResource
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Kubernetes Engine API
    put:
      summary: Update a cluster or node pool
      operationId: updateResource
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Kubernetes Engine API
  /v1/{name}:setAddons:
    post:
      summary: Set addons configuration on a cluster
      operationId: setAddons
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Kubernetes Engine API
  /v1/{name}:setLogging:
    post:
      summary: Set logging service on a cluster
      operationId: setLogging
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Kubernetes Engine API
  /v1/{name}:setMonitoring:
    post:
      summary: Set monitoring service on a cluster
      operationId: setMonitoring
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Kubernetes Engine API
  /v1/{name}:setMasterAuth:
    post:
      summary: Set master authentication for a cluster
      operationId: setMasterAuth
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Kubernetes Engine API
  /v1/{name}:setNetworkPolicy:
    post:
      summary: Set network policy on a cluster
      operationId: setNetworkPolicy
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Kubernetes Engine API
  /v1/{name}:setMaintenancePolicy:
    post:
      summary: Set maintenance policy on a cluster
      operationId: setMaintenancePolicy
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Kubernetes Engine API
  /v1/{name}:setResourceLabels:
    post:
      summary: Set resource labels on a cluster
      operationId: setResourceLabels
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Kubernetes Engine API
  /v1/{name}:startIpRotation:
    post:
      summary: Start IP rotation on a cluster
      operationId: startIpRotation
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Kubernetes Engine API
  /v1/{name}:completeIpRotation:
    post:
      summary: Complete IP rotation on a cluster
      operationId: completeIpRotation
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Kubernetes Engine API
  /v1/{name}:updateMaster:
    post:
      summary: Update the master version of a cluster
      operationId: updateMaster
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Kubernetes Engine API
  /v1/{name}:setSize:
    post:
      summary: Set node pool size
      operationId: setNodePoolSize
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Kubernetes Engine API
  /v1/{name}:setAutoscaling:
    post:
      summary: Set autoscaling for a node pool
      operationId: setNodePoolAutoscaling
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Kubernetes Engine API
  /v1/{name}:rollback:
    post:
      summary: Rollback a node pool upgrade
      operationId: rollbackNodePool
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Kubernetes Engine API
  /v1/{name}:cancel:
    post:
      summary: Cancel an operation
      operationId: cancelOperation
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Cancel response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Google Kubernetes Engine API
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: View and manage Google Cloud data
x-generated-from: https://cloud.google.com/kubernetes-engine/docs/reference/rest
x-generated-by: claude-crawl-2026-05-08
