openapi: 3.2.0
info:
  title: Google Kubernetes Engine Node Pools API
  description: REST API for Google Kubernetes Engine (GKE), a managed Kubernetes service on Google Cloud. Manages clusters, node pools, and operations.
  version: v1
servers:
- url: https://container.googleapis.com
security:
- oauth2:
  - https://www.googleapis.com/auth/cloud-platform
tags:
- name: Node Pools
paths:
  /v1/{parent}/nodePools:
    get:
      summary: List node pools
      operationId: listNodePools
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Node pools response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Node Pools
    post:
      summary: Create a node pool
      operationId: createNodePool
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Operation response
          content:
            application/json:
              schema:
                type: object
      tags:
      - Node Pools
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: View and manage Google Cloud data
x-generated-from: https://cloud.google.com/kubernetes-engine/docs/reference/rest
x-generated-by: claude-crawl-2026-05-08
